<div class="row" id="sideNav-Main">
    <div class="col-md-12" id="sideNav-Left">
        <div id="sideNav-Heading" >
            Dollar App Admin
        </div>

        <nav class="nav flex-column" id="nav" >
            
            <li class="nav-link" id="navLink"  data-toggle="pill"routerLink="" role="button"  aria-controls="v-pills-home" aria-selected="true">Dashboard</li>
            <li class="nav-link" id="navLink"  data-toggle="pill" routerLink="" href="#v-pills-profile" role="button"  aria-controls="v-pills-home" aria-selected="true" [routerLinkActive]="['active']">Tenants
            </li>
            <li>
                <button id="btn-logout">Log Out</button>
            </li>

          </nav>
    </div>
  </div>